
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
    --primary-color: #4617FE;
    --blue-100: #e9edfd;
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background-color: #f8f8fa;
}

header {
    background-color: var(--primary-color);
    color: #fff;
}

header nav {
    float: right;
    margin-top: 40px;
}

.nav-item {
    display: inline;
    margin-right: 60px;
}

.nav-item-active {
    display: inline;
    margin-right: 60px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    color: var(--primary-color);
}

.logo {
    margin-top: 40px;
    margin-left: 60px;
}

.header-text {
    padding: 80px 80px;
}

.header-text h2 {
    font-weight: 400;
    font-size: 4rem;
}

.header-image {
    position: absolute;
    top: 100px;
    right: 0;
}

.companies {
    margin: 40px 60px;
}

.company-items {
    display: inline;
    font-family: "Righteous";
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    outline: none;
    margin-right: 40px;
}

.api {
    padding: 40px 60px;
    margin-top: 80px;
}

.api-heading {
    font-size: 3rem;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

.card {
    padding: 40px 20px;
    margin-right: 40px;
}

.card-active {
    padding: 40px 20px;
    margin-right: 40px;
    border-radius: 12px;
    box-shadow: 0 0 16px rgba(49, 49, 49, 0.084);
}

.card-head,
.card-head-active {
    margin-top: 20px;
}

.card-head-active {
    color: var(--primary-color);
}

.blog-heading {
    padding: 0px 60px;
    margin-top: 80px;
}

.blog-heading h1 {
    font-size: 3rem;
}

.blog-cards {
    margin-top: 40px;
    padding: 0px 60px;
    display: flex;
    flex-direction: row;
}

.blog-card {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    border-top-left-radius: 100px;
    margin-right: 40px;
    margin: 0 auto;

}

.blog-content {
    padding: 40px 40px;
}

.blog-bottom {
    position: absolute;
    bottom: -30px;
    right: 30%;
}

.blog-author {
    position: absolute;
    bottom: -12px;
    right: 15%;
}

/* faq section */

.faq-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--blue-100);
    margin-top: 120px;
}

.faq-content {
    padding: 40px 60px;
}

.faq-content h2 {
    font-size: 2rem;
}

.faq-content h4 {
    font-weight: 400;
    margin-top: 10px;
}

.faq-content button {
    margin-top: 20px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
}

.faq-image {
    align-self: flex-end;
}

/* download section */

.download-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.download-content h1{
    font-weight: bolder;
    margin-left: 80px;
}
.download-content span{
    font-weight: lighter;
}

form {
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-right: 80px;
    height: 55px;
    border: none;
    outline:none;
    border-radius: 25px;
    padding:2px;
    background-color: #E9EDFF;
}

input {
    flex-grow:2;
    border:none;
    width: 30vw;
    background-color: #E9EDFF;
    padding-left: 30px;
    border-radius: 25px;

}
form button{
    outline: none;
    border: none;
    background-color: #5A31FC;
    color:#fff;
    width: 150px;
    height: 90%;
    border-radius: 30px;
}

/* footer section */

.footer-section {
    background-color: var(--primary-color);
    padding: 120px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list,
.logos-list {
    margin-top: 20px;
}

.list-items {
    list-style-type: none;
    display: inline;
    color: #fff;
}

.list-items:not(:first-child):before {
    content: " | ";
    margin-left: 20px;
    margin-right: 20px;
}

.footer-logos:not(:last-child) {
    margin-right: 20px;
}

.footer-right {
    text-align: end;
}

/* media queries for responsiveness */

@media screen and (max-width: 1440px) {
    .header-text h2 {
        font-size: 2rem;
    }
    .company-items {
        font-size: 1.5rem;
    }
    .header-image {
        width: 430px;
    }
}

@media screen and (max-width: 1025px) {
    .header-image {
        width: 250px;
    }
    .api .cards {
        flex-wrap: wrap;
    }
    .blog-cards {
        flex-wrap: wrap;
        gap: 50px;
    }
    .blog-card{
        flex: column;
    }
    .faq-image img {
        width: 400px;
    }
}

@media screen and (max-width: 769px) {

    .nav-item{
        margin-right: 47px;
    }
    .header-image {
        display: none;
    }
    .api .cards {
        flex-wrap: wrap;
    }
    .blog-cards {
        flex-wrap: wrap;
        gap: 20px;
    }
    .blog-card {
        flex: 1;
        width: 100%;
        flex-direction: column;
        margin-right: 0px;
    }
    .blog-image img {
        width: 100%;
        object-fit: cover;
    }
    .blog-content {
        padding: 20px;
    }
    .blog-bottom {
        display: none;
    }
    .blog-author {
        display: none;
    }
    .faq-section {
        flex-direction: column;
    }
    .faq-image img {
        width: 400px;
    }

    .download-section {
        flex-direction: column;
        align-items: center;
        padding: 55px 20px;
        height: 135px;
    }
    .download-email form {
        align-items: center;
    }
    .download-content h1{
        margin-left: 0px;
    }
    form{
        margin-right: 0px;
    }
    
    .footer-section {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 55px 40px;
    }
    .footer-right {
        text-align: center;
        margin: 15px auto;
    }

    header nav {
        margin: 40px 20px 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .nav-item {
        margin: 0px;
    }
    .nav-item-active {
        margin-right: 0px;
    }
    .logo {
        margin-top: 40px;
        margin-left: 60px;
        width: 85px;
    }
    .header-text {
        padding: 55px;
    }
    .header-text h2 {
        font-size: 2rem;
    }
    
}

@media screen and (max-width:426px){

    .logo {
        margin-top: 30px;
        margin-left: 22px;
        width: 85px;
    }
    .header-text {
        padding: 20px;
    }
    .header-text h2 {
        font-size: 1.5rem;
    }
    .companies {
        margin-left: 18px;
    }
    .api{
        padding: 20px;
    }
    .api-heading {
        font-size: 2rem;
    }
    .blog-heading {
        padding: 20px;
        margin-top: 0px;
    }
    .blog-heading h1 {
        font-size: 2.5rem;
    }
    form {
        width: 95vw;
    }
    .footer-logo{
        width: 85px;
        margin-left: 35%;
    }

}

